* {
    font-family: 'Tajawal', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: #fcf9f6;
    color: #333;
    direction: rtl;
}

main {
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}

.signup-section,
.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    background: linear-gradient(135deg, #f3eefb 0%, #ded3f1 100%);
    border-radius: 20px;
    margin: 40px 5%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.signup-container,
.login-container {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

.signup-container h2,
.login-container h2 {
    color: #5d3f8a;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 700;
}

.form-group {
    margin-bottom: 20px;
    text-align: right;
}

.form-group label {
    display: block;
    color: #5d3f8a;
    font-size: 16px;
    margin-bottom: 10px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    color: #333;
}

.signup-btn,
.login-btn {
    background-color: #796a97;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    margin-top: 20px;
}

.signup-btn:hover,
.login-btn:hover {
    background-color: #998cb0;
    transform: translateY(-2px);
}

.login-link,
.signup-link {
    margin-top: 20px;
    color: #5d3f8a;
}

.login-link a,
.signup-link a {
    color: #998cb0;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover,
.signup-link a:hover {
    color: #796a97;
}